<div *ngFor="let emp of emps">
    <div class="card shadow-sm">
        <img src={{emp.empImage}} />
        <div class="card-body">
            <p class="card-text">{{emp.empName}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
</div>