<!-- Interpolation Binding (Expressions) -->
<p>{{ title }}</p>

<!-- <h3>Interpolation Binding</h3>
<p>Customer Code: {{ customerObj.code }}</p>
<p>Customer Name: {{ customerObj.name }}</p>
<p>Customer Amount: {{ customerObj.amount }}</p> -->

<!-- <h3>Interpolation Binding</h3>
<p>Customer Code: {{ custObj.CustomerCode }}</p>
<p>Customer Name: {{ custObj.CustomerName }}</p>
<p>Customer Amount: {{ custObj.CustomerAmount }}</p> -->

<!-- <h3>One Way Data Binding (Controller/Model to View)/Property Binding</h3>
<p>Customer Code: <input type="text" name="CustomerCode" [value]="custObj.CustomerCode" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [value]="custObj.CustomerName" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [value]="custObj.CustomerAmount" /></p> -->

<!-- <h3>One Way Data Binding (View to Component/Model)/Event Binding</h3>
<p>Customer Code: <input type="text" name="CustomerCode" (input)="custObj.CustomerCode=$event.target.value" /></p>
<p>Customer Name: <input type="text" name="CustomerName" (input)="custObj.CustomerName=$event.target.value" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" (input)="custObj.CustomerAmount=$event.target.value" /></p> -->

<h3>Two Way Data Binding (Component/Model to View to Model)</h3>
<p>Customer Code: <input type="text" name="CustomerCode" [value]="custObj.CustomerCode"
        (input)="custObj.CustomerCode=$event.target.value" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [value]="custObj.CustomerName"
        (input)="custObj.CustomerName=$event.target.value" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [value]="custObj.CustomerAmount"
        (input)="custObj.CustomerAmount=$event.target.value" /></p>

<h3>Two Way Data Binding (Component/Model to View to Model)</h3>
<p>Customer Code: <input type="text" name="CustomerCode" [(ngModel)]="custObj.CustomerCode" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [(ngModel)]="custObj.CustomerName" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [(ngModel)]="custObj.CustomerAmount" /></p>